body {
  font-family: "Noto Sans JP", sans-serif;
  padding: 0 2%;
  margin: 0;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: sticky;
  top: 0;
}
nav .profile {
  display: flex;
  align-items: center;
}
nav .profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
nav .profile h1 {
  margin-left: 10px;
  font-size: 15px;
}
nav ul {
  display: flex;
  list-style-type: none;
}
nav ul li {
  margin-left: 20px;
  cursor: pointer;
  border-bottom: 1px solid #fff;
}
nav ul li:hover {
  border-bottom-color: #000000;
}

.page-content {
  margin: 4%;
}
.page-content header {
  margin-top: 5%;
  max-width: 80%;
}
.page-content header h1 {
  margin: 0;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 6vw;
}
.page-content header p {
  line-height: 30px;
  color: #818181;
}
.page-content header button {
  background-color: inherit;
  border: none;
  outline: none;
  padding: 0;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
.page-content header button:hover {
  color: #ccc;
  border-bottom-color: #000000;
}
.page-content .presentation-image {
  margin-top: 5%;
}
.page-content .presentation-image img {
  max-width: 100%;
  height: auto;
}

.page-content .projects-section {
  margin-top: 6%;
}
.page-content .projects-section h1 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 3vw;
}
.page-content .projects-section .projects {
  display: flex;
  flex-wrap: wrap;
}
.page-content .projects-section .project {
  margin-right: 20px;
  max-width: 195px;
}
.page-content .projects-section .project h4 {
  margin: 0;
}
.page-content .projects-section .project .description {
  font-size: 10px;
}
.page-content .projects-section .project .dates {
  font-size: 13px;
  color: rgb(0, 0, 0);
}

footer {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  background-color: #000000;
  color: white;
}
footer .colonne p {
  font-size: 12px;
  color: #ccc;
  cursor: pointer;
}
footer .colonne p:hover {
  color: #fff;
}
form {
  background-color: rgb(0, 0, 0);
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(29, 102, 92, 0.1);
  width: 400px;
}
.valider-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #1f10c2;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.valider-btn:hover {
  background-color: #4200e7;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.skills-area {
  display: flex;
  flex-direction: column;
  padding: 0 20%;
}

.skill {
  position: relative;
  margin-bottom: 40px;
}

.skill-title {
  font-size: 40px;
  margin-bottom: 10px;
}

.skill-bar {
  width: 100%;
  background: rgba(163, 133, 133, 0.6);
  height: 40px;
  z-index: -1;
  border-radius: 100px;
  position: absolute;
}

.skill-fill {
  background: blue;
  height: 40px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
  overflow: hidden;
}

.skill-percent {
  font-size: 30px;
}

.html {
  animation: html 2s;
  width: 50%;
}

.css {
  animation: css 2s;
  width: 80%;
}

.center-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  max-width: 300px; /* Ajustez la largeur maximale selon vos besoins */
}

.center-form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

.center-form .valider-btn {
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #1f10c2;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.center-form .valider-btn:hover {
  background-color: #4200e7;
}