body {
  font-family: "Noto Sans JP", sans-serif;
  padding-top: 60px;
  margin: 0;
  padding: 0;
  height: 100%; /* Assurez-vous que la hauteur remplit la fenêtre */
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.page-content {
  margin: 4%;
}

.page-content header h1 {
  margin: 0;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 6vw;
}
.page-content header p {
  line-height: 30px;
  color: #818181;
}
.page-content header button {
  background-color: inherit;
  border: none;
  outline: none;
  padding: 0;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
.page-content header button:hover {
  color: #ccc;
  border-bottom-color: #000000;
}
.page-content .presentation-image {
  margin-top: 5%;
}
.page-content .presentation-image img {
  max-width: 100%;
  height: auto;
}

.page-content .projects-section {
  margin-top: 6%;
}
.page-content .projects-section h1 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 3vw;
}
.page-content .projects-section .projects {
  display: flex;
  flex-wrap: wrap;
}
.page-content .projects-section .project {
  margin-right: 20px;
  max-width: 195px;
}
.page-content .projects-section .project h4 {
  margin: 0;
}
.page-content .projects-section .project .description {
  font-size: 20px;
}
.page-content .projects-section .project .dates {
  font-size: 13px;
  color: rgb(0, 0, 0);
}
.barre {
  margin-left: 10%;
  margin-right: 10%;
}

footer {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  background-color: #000000;
  color: white;
}
footer .colonne p {
  font-size: 12px;
  color: #ccc;
  cursor: pointer;
}
footer .colonne p:hover {
  color: #fff;
}
form {
  background-color: rgb(0, 0, 0);
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(29, 102, 92, 0.1);
  width: 400px;
}
.valider-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #1f10c2;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.valider-btn:hover {
  background-color: #4200e7;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

.center-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  max-width: 300px; /* Ajustez la largeur maximale selon vos besoins */
}

.center-form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
}
.navbar {
  position: fixed; /* Rend la barre de navigation fixe */
  top: 0; /* Place la barre en haut de la page */
  left: 0;
  width: 100%; /* S'assure qu'elle occupe toute la largeur */
  z-index: 1000; /* Place la barre au-dessus des autres éléments */
  background-color: #fff; /* Couleur de fond pour éviter qu'elle soit transparente */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optionnel : ajout d'une ombre pour la démarquer */
}
.card {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  flex: 0 1 300px;
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}
.card-container {
  display: flex; /* Utilise Flexbox */
  flex-wrap: wrap; /* Permet le retour à la ligne si nécessaire */
  gap: 20px; /* Espacement entre les cartes */
  justify-content: center; /* Centre les cartes horizontalement */
  padding: 20px; /* Espacement autour du conteneur */
}
* {
	box-sizing: border-box;
}

